services:
  zookeeper:
    image: bitnami/zookeeper:latest
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    ports: [ "2181:2181" ]

  kafka:
    image: bitnami/kafka:latest
    depends_on: [ zookeeper ]
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_LISTENERS=PLAINTEXT://:9092
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
    ports: [ "9092:9092" ]

  cassandra:
    image: cassandra:5
    ports: [ "9042:9042" ]

  redis:
    image: redis:7
    ports: [ "6379:6379" ]

  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    command: mlflow server --host 0.0.0.0 --port 5000 --backend-store-uri sqlite:///mlflow.db --default-artifact-root /mlruns
    volumes:
      - ./mlruns:/mlruns
    ports: [ "5000:5000" ]

  api:
    build: ./serving/api
    env_file: ../.env.example
    depends_on: [ kafka, cassandra, redis, mlflow ]
    ports: [ "8080:8080" ]
